# --- Server ---
SERVER_PORT=

# --- Mail (Gmail) ---
MAIL_USERNAME=
MAIL_PASSWORD=

# --- Google OAuth2 ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# --- Google Gemini AI ---
GEMINI_API_KEY=

# --- Postgres Database ---
# Update localhost to your Neon URL or EC2 Private IP for production
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# --- Redis (Upstash) ---
REDIS_URL=
# --- Kafka (Aiven) ---
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_USERNAME= 
KAFKA_PASSWORD=
# Mapped to a Linux path inside the Docker container
KAFKA_TRUSTSTORE_LOCATION=  

# --- Security & App ---
JWT_SECRET=
# Mapped to a Linux path inside the Docker container
STORAGE_PATH=   

CORS_ALLOWED_ORIGINS=       